.taxi-tracking-page {
  min-height: 100%;
}

.tt-header {
  display: grid;
  grid-template-columns: 44px 1fr 44px;
  align-items: center;
  gap: 10px;
  margin-bottom: 32px;
  margin-top: 8px;
}

.tc-back-btn {
  width: 30px;
  height: auto;
  transform: translateX(10px);
}

.tt-title {
  text-align: center;
  font-size: 1.15rem;
  font-weight: 950;
  color: var(--gray-800);
}

.tt-content {
  padding-bottom: 100px;
}

.tt-speech {
  position: absolute;
  left: 14px;
  top: 14px;
  right: 14px;
  padding: 10px 12px;
  border-radius: 14px;
  background: rgba(255,255,255,.78);
  border: 1.5px solid rgba(245,158,11,.18);
  color: var(--gray-800);
  font-weight: 800;
  font-size: .9rem;
  text-align: center;
}

.tt-card {
  background: var(--white);
  border: 1.5px solid var(--gray-100);
  border-radius: 18px;
  padding: 16px;
}

.tt-banner img{
  width: 100%; 
  height: auto; 
  border-radius: 16px;
  margin-bottom: 12px;
}


.tt-driver-card {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px 12px;
  border-radius: 16px;
  border: 1.5px solid var(--gray-200);
  background: var(--gray-50);
  margin-bottom: 24px;
}

.tt-driver-avatar {
  width: 54px;
  height: 54px;
  border-radius: 18px;
  object-fit: cover;
  border: 1.5px solid var(--gray-200);
  background: var(--white);
}

.tt-driver-top {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.tt-driver-name {
  font-weight: 1000;
  color: var(--gray-800);
}

.tt-driver-rating {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray-700);
  font-weight: 900;
  font-size: .9rem;
}

.tt-star { color: #f59e0b; }

.tt-driver-vehicle {
  margin-top: 4px;
  color: var(--gray-700);
  font-weight: 900;
  font-size: .9rem;
}

.tt-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 12px;
}

.tt-action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 10px;
  border-radius: 16px;
  border: 1.5px solid var(--gray-100);
  background: var(--white);
  cursor: pointer;
  font-weight: 950;
  color: var(--gray-800);
}

.tt-action-icon img{ 
  width: 20px;
  height: auto;
  object-fit: fill;
  transform: translateY(2px);
 }

.tt-cancel-btn {
  width: 100%;
  border-radius: 16px;
  padding: 12px 10px;
  border: 1.5px solid rgba(239,68,68,.25);
  background: rgba(239,68,68,.08);
  color: #b91c1c;
  font-weight: 1000;
  cursor: pointer;
  margin-bottom: 10px;
}

.tt-view-details-btn {
  width: 100%;
  border-radius: 999px;
  padding: 14px 14px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #2563eb, #60a5fa);
  color: var(--white);
  font-weight: 1000;
  opacity: 0;
  transform: translateY(6px);
  pointer-events: none;
  transition: opacity .25s, transform .25s;
}

.tt-view-details-btn.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
